<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenoew]="progress" [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <p>Text</p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="progress" [(ngModel)]="progress">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-primary" type="button" (click)="add(5)"><i class="mdi mdi-plus" ></i></button>
                        <button class="btn btn-outline-primary" type="button" (click)="minus(-5)"><i class="mdi mdi-minus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>