<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <app-graphic-doughnut [data]="graficos.grafico1.data" [label]="graficos.grafico1.labels"></app-graphic-doughnut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <app-graphic-doughnut [data]="graficos.grafico2.data" [label]="graficos.grafico2.labels"></app-graphic-doughnut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <app-graphic-doughnut [data]="graficos.grafico3.data" [label]="graficos.grafico3.labels"></app-graphic-doughnut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <app-graphic-doughnut [data]="graficos.grafico4.data" [label]="graficos.grafico4.labels"></app-graphic-doughnut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>